<%= display_winning_message(session[:winner]) if session[:winner] %>

<div class='row'>
  <div class='well'>
    <h4>Dealer Cards</h4>
    <% dealer_cards.each do |card| %>
      <%= card_image(card) %>
    <% end %>
    <% if session[:dealer_turn] %>
      <p>
        <%= "Delaer has #{calculate_total(dealer_cards)}" %>
      </p>
    <% end %>
  </div>
  <div class='well' id='player_well'>
    <h4>Player Cards</h4>
    <% player_cards.each do |card| %>
      <%= card_image(card) %>
    <% end %>
    <p>
      <%= "#{player_name} has #{calculate_total(player_cards)}" %>
    </p>
  </div>

</div>
