<%= display_winning_message(session[:winner]) if session[:winner] %>

<div class='row'>
  <div class='span12'>
    <div class='well'>
      <h4>Dealer Cards</h4>
      <% dealer_cards.each do |card| %>
        <%= card_image(card) %>
      <% end %>
      <% if session[:dealer_turn] %>
        <p>
          <%= "Delaer has #{calculate_total(dealer_cards)}" %>
        </p>
      <% end %>
    </div>
    <div class='well'>
      <h4>Player Cards</h4>
      <% player_cards.each do |card| %>
        <%= card_image(card) %>
      <% end %>
      <p>
        <%= "#{player_name} has #{calculate_total(player_cards)}" %>
      </p>
    </div>
  </div>
  <div id='game_menu'>
    <p> Money: $<%= money %></p>
    <p> <%= "Bet: #{bet}" unless session[:winner] %></p>
    <% if session[:winner] %>
      <% if money > 0 %>
        <div class='row'>
          <div class='span2'>
            <form action='/game/bet' method='get'>
              <button type='submit' class='btn btn-success btn-block'>
                Play again
              </button>
            </form>
          </div>
        </div>
      <% else %>
        <p>Sorry you don't have any moeny left. Press Start over to play again</p>
      <% end %>
    <% else %>
      <% if session[:dealer_turn] %>
        <div class='row'>
          <div class='span3'>
            <form action='/game/dealer_show' method='post'>
              <button type='submit' class='btn btn-success btn-block'>
                Show dealer's next card
              </button>
            </form>
          </div>
        </div>
      <% else %>
        <div class='row'>
          <%= set_possible_moves %>
        </div>
      <% end %>
    <% end %>
    <p class='muted'><small>(Drag to reposition)</small></p>
  </div>
</div>
