<!DOCTYPE html>
<html>
  <head>
    <title>Let's Play Blackjack</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/application.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
    <script src="/application.js"></script>
  </head>
  <body style="padding-top: 50px;">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
              <li><a href="/">Start Over</a></li>
            </ul>
        </div>
      </div>
    </div>


  <div class="container">
    <%if @error %>
      <div class="alert alert-error">
        <%= @error %>
      </div>
    <% end %>
    <%= yield %>
    <% if session[:game_start] %>
      <div id='game_menu'>
        <p> Money: $<%= money %></p>
        <p> <%= "Bet: #{bet}" unless session[:winner] %></p>
        <% if session[:winner] %>
          <% if money > 0 %>
            <div class='row'>
              <div class='span2'>
                <form action='/game/bet' method='get'>
                  <button type='submit' class='btn btn-success btn-block'>
                    Play again
                  </button>
                </form>
              </div>
            </div>
          <% else %>
            <p>Sorry you don't have any moeny left. Press Start over to play again</p>
          <% end %>
        <% else %>
          <% if session[:dealer_turn] %>
            <div class='row'>
              <div class='span3'>
                <form action='/game/dealer_show' method='post'>
                  <button type='submit' class='btn btn-success btn-block'>
                    Show dealer's next card
                  </button>
                </form>
              </div>
            </div>
          <% else %>
            <div class='row'>
              <%= set_possible_moves %>
            </div>
          <% end %>
        <% end %>
        <p class='muted'><small>(Drag to reposition)</small></p>
      </div>
    <% end %>
  </div>
  </body>
</html>
